@font-face {
  font-family: "Red Hat Text";
  src: url("../../../public/assets/fonts/RedHatText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../../../public/assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}