@font-face {
  font-family: "Red Hat Text";
  src: url("../../../public/assets/fonts/RedHatText-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../../../public/assets/fonts/Inter_24pt-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}